body {
    margin: 0;
    padding: 0;
}


.top-div {
    height: 163px;
    margin-left: 222px;
}

table {
    border-spacing: 0px;
    border-bottom-style: none;
    padding: 0px;
}

td {
    border-spacing: 0px;
    border-bottom-style: none;
    padding: 0px;
}

.border-table {
    width: 818px;
    height: 411px;
    margin-left: 222px;
    border: 1px solid #a2a2a2;
}

.bottom-div {
    height:23px;
}

.inquire-div {
    width: 818px;
    height: 55px;
    background-color: #69686d;
    border: 1px solid #a2a2a2;
    margin-left: 222px;
    text-align: center;
    line-height: 55px;
    color: white;
}

.public-img {
    margin-left: 96px;
    width: 264px;
    margin-top:93px;
}

.company-img {
    margin-left: 96px;
    margin-right:96px;
    width: 264px;
    margin-top: 93px;
}

.middle-tr{
    height:20px;
}

.last-tr {
    height: 88px;   
}

.join1-img {
    margin-left: 96px;
}

.join2-img {
    margin-left: 96px;
}
